

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        <option value="Listing">Manage Events</option>
        <option value="ManageUser">Manage Users</option>
               

    }
    else if (User.IsInRole("user"))
    {
        <option value="Create">Add Events</option>
        

    }
}
else
{
    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
}
