<!-- Gallery Thumbnails
       ================================================== -->

<div class="row clearfix no-margin">
    <ul class="gallery-post-grid holder">

        <!-- Gallery Item 1 -->
        <li class="span6 gallery-item" data-id="id-1" data-type="illustration">
            <a asp-controller="Events" asp-action="Index" asp-route-id="1" class="gallery-hover-4col hidden-phone hidden-tablet"> </a>
            <a asp-controller="Events" asp-action="Index" asp-route-id="1"><img src="~/img/gallery/category-img-1.jpg" alt="Gallery"></a>
            <span class="project-details"><a asp-area="" asp-controller="Events" asp-action="Listing">Summer Festivals and Fairs</a>Whether you go for the music or the food, get all the information here.</span>
        </li>

        <!-- Gallery Item 2 -->
        <li class="span6 gallery-item" data-id="id-2" data-type="illustration">
            <a asp-controller="Events" asp-action="Index" asp-route-id="3" class="gallery-hover-4col hidden-phone hidden-tablet"> </a>
                <img src="~/img/gallery/category-img-3.jpg" alt="Gallery">
            
            <span class="project-details"><a asp-controller="Events" asp-action="Index" asp-route-id="3">Live Music and Theater</a>All the great acts around the city that will keep you dancing, laughing, and entertained.</span>
        </li>

        <!-- Gallery Item 3 -->
        <li class="span6 gallery-item" data-id="id-3" data-type="web">
            <a asp-controller="Events" asp-action="Index" asp-route-id="2" class="gallery-hover-4col hidden-phone hidden-tablet"> </a>
            <a asp-controller="Events" asp-action="Index" asp-route-id="2"><img src="~/img/gallery/category-img-2.jpg" alt="Gallery"></a>
            <span class="project-details"><a href="gallery-single.htm">Classes and Seminars</a>Perfect for the person who is looking to improve certain areas of their life.</span>
        </li>

        <!-- Gallery Item 4 -->
        <li class="span6 gallery-item" data-id="id-4" data-type="video">
            <a asp-controller="Events" asp-action="Index" asp-route-id="4" class="gallery-hover-4col hidden-phone hidden-tablet"> </a>
            <a asp-controller="Events" asp-action="Index" asp-route-id="4"><img src="~/img/gallery/category-img-4.jpg" alt="Gallery"></a>
            <span class="project-details"><a href="gallery-single.htm">Social Events</a>Gatherings of like minded people, meeting and mingling.</span>
        </li>
    </ul>
</div>
